<!-- footer Start -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="footer-manu">
                    <ul>
                        <li><a href="{{ site.baseurl }}/work">How it works</a></li>
                        <li><a href="{{ site.baseurl }}/blog">Blog</a></li>
                        <li><a href="{{ site.baseurl }}/contact">Contact us</a></li>
                    </ul>
                </div>
                <p>Copyright &copy; Front End Developer by CNS. All rights reserved.</p>
            </div>
        </div>
    </div>
</footer>

<!-- top button -->
<div id="quickTop">
    <a href="" class="ion-ios-arrow-up"><span>상단으로 이동</span></a>
</div>
