<!-- footer Start -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="footer-manu">
                    <ul>
                        <li><a href="{{ site.baseurl }}/work">How it works</a></li>
                        <li><a href="{{ site.baseurl }}/blog">Blog</a></li>
                        <li><a href="{{ site.baseurl }}/contact">Contact us</a></li>
                    </ul>
                </div>
                <p>Copyright &copy; Front End Developer by CNS. All rights reserved.</p>
            </div>
        </div>
    </div>
</footer>

<!-- top button -->
<div id="quickTop">
    <a href="" class="ion-ios-arrow-up"><span>상단으로 이동</span></a>
</div>

<script type="text/javascript">!function(t,e){"use strict";var r=function(t){try{var r=e.head||e.getElementsByTagName("head")[0],a=e.createElement("script");a.setAttribute("type","text/javascript"),a.setAttribute("src",t),a.setAttribute("async","true"),a.setAttribute("defer","true"),r.appendChild(a)}catch(t){}};t.CollectId = "59a7653478698b8b44a953a1",r("https://s3.amazonaws.com/collectchat/launcher.js")}(window,document);</script>