---
layout: page
---

<div class="post">
  <!-- Wrapper Start -->
  <section style="border: 1px dotted #ddd;">
    <div class="container">
      <div class="row">
        <div>
          <div class="block">
            <h1>{{ page.title }}</h1>
            <div class="post-info-wrapper">
              <p class="italic">By <span class="bold">{{ page.author }}</span> on <span class="bold">{{ page.date | date: "%B %-d, %Y" }}</span></p>
            </div>
            <hr />
            <p>{{ content }}</p>
          </div>
        </div><!-- .col-md-7 close -->
      </div>
	  <section class="disqus">
        <div id="disqus_thread"></div>
        <script type="text/javascript">
            var disqus_shortname = 'isme2n';
            /* * * DON'T EDIT BELOW THIS LINE * * */
            (function() {
                var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
            })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
        <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
        </section>
    </div>
  </section>
</div>
<p class="center-text" style="padding: 30px;">
  <a href="{{ site.baseurl }}/blog">Back to blog</a>
</p>


<script type="text/javascript">
$(function(){
	$('header .navbar-default .navbar-nav a').eq(1).addClass('active');
});
</script>
